body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: var(--main-bg-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

:root {
  --main-bg-color: #f3f7fa;
  --card-bg-color: #fff;
  --primary-color: #2196f3;
  --secondary-color: #a0b0b9;
  --tertiary-color: #f1fcff;
  --text-color: #4a4a4a;
}
